.ads {

	padding: 40px 0;
	@include breakpoint($max, $xs-screen) {
		padding: 20px 0;
	}

	+ .row-module {
		border-top: 1px solid #E6EAE2;
	}

	.ads-728x90, 
	.ads-468x60,
	.ads-720x300,
	.ads-300x250,
	.ads-250x250 {
		position: relative;
		.wrapper-ads {
			@include position(absolute, 0px 0px 0px 0px);
			img, embed, video {
				@include position(absolute, 0px 0px 0px 0px);
				width: 100% !important;
				height: auto !important;
			}
		}
	}
	.ads-728x90 {
		width: 728px;
		height: 90px;
		margin: 0 auto;
		@include breakpoint($max, 728px) {
			width: 100%;
			height: 0;
			padding-bottom: 12.36%;
		}
	}
	.ads-468x60 {
		width: 468px;
		height: 60px;
		margin: 0 auto;
		@include breakpoint($max, 468px) {
			width: 100%;
			height: 0;
			padding-bottom: 12.82%;
		}
	}
	.ads-720x300 {
		width: 720px;
		height: 300px;
		margin: 0 auto;
		@include breakpoint($max, 720px) {
			width: 100%;
			height: 0;
			padding-bottom: 41.66%;
		}
	}
	.ads-300x250 {
		width: 300px;
		height: 250px;
		margin: 0 auto;
		@include breakpoint($max, 300px) {
			width: 100%;
			height: 0;
			padding-bottom: 83.33%;
		}
	}
	.ads-250x250 {
		width: 250px;
		height: 250px;
		margin: 0 auto;
		@include breakpoint($max, 250px) {
			width: 100%;
			height: 0;
			padding-bottom: 50%;
		}
	}
}