p {
  margin: 0 0 12px 0;
}
h1, h2, h3, h4, h5, h6, strong { 
  font-weight: 700;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.acenter {
  text-align: center !important;
}
.aright {
  text-align: right !important;
}
.nofloat {
  float: none !important;
}
.nopadding {
  padding: 0 !important;
}
em {
  font-style: oblique;
}

.bagde {
  display: inline-block;
  height: 18px - 3px;
  line-height: normal;
  padding: 3px 4px 0 4px;
  border: 1px solid $green;
  color: $green;
  font-size: em(11px);
  font-weight: 900;
  text-transform: uppercase;
  @include prefix(border-radius, 3px);
  vertical-align: middle;
  a {
    @include transition(color .2s linear);
    color: $green;
    &:hover {
      color: lighten($green, 10%);
    }
  }
}

.guaranty {
  position: relative;
  width: 245px;
  height: 86px;
  text-indent: -9999em;
  overflow: hidden;
  a {
    display: block;
    @include position(absolute, 0px 0px 0px 0px);
    background: url(../images/garantia-pt.png) no-repeat center center;
  }
  @include breakpoint($max, $s-screen) { 
    width: auto;
    height: auto;
    text-indent: 0;
    color: white;
    line-height: 1.2em;
    font-weight: 500;
    a {
      color: white;
      @include position(relative, auto auto auto auto);
      background: none;
      @include transition(opacity .2s linear);
      &:hover {
        @include opacity(.8);
      }
    }
  }
}

.hr {
  position: relative;
  text-align: center;
  font-size: em(13px);
  font-weight: 500;
  margin:  0 0 40px 0;
  &:after {
    content: "";
    @include position(absolute, 50% 0px 0 0px);
    display: block;
    height: 1px;
    background: #E6EAE2;
    z-index: 0;
  }
  span {
    position: relative;
    z-index: 1;
    display: inline-block;
    background: white;
    height: 22px;
    line-height: 22px;
    padding: 0 20px;
  }
}