p {
  margin: 0 0 12px 0;
}
h1, h2, h3, h4, h5, h6, strong { 
  font-weight: 700;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.acenter {
  text-align: center !important;
}
.aright {
  text-align: right !important;
}
.nofloat {
  float: none !important;
}
.nopadding {
  padding: 0 !important;
}
em {
  font-style: oblique;
}