.heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    font-family: $museoslab;
    word-wrap: break-word;
  }
  h1 {
    font-size: em(48px);
    // @include breakpoint($max, $s-screen) {
    //   font-size: em(44px);
    // }
    @include breakpoint($max, $xs-screen) {
      font-size: em(42px);
    }
    em {
      font-weight: 500;
      font-style: oblique;
    }
  }
  h2 {
    font-size: em(44px);
    color: $darkgrey;
    line-height: 1.2em;
    // @include breakpoint($max, $s-screen) {
    //   font-size: em(38px);
    // }
    @include breakpoint($max, $xs-screen) {
      font-size: em(40px);
    }
  }
  h3 {
    font-size: em(36px);
    color: $darkgrey;
    line-height: 1.3em;
    // @include breakpoint($max, $s-screen) {
    //   font-size: em(30px);
    // }
    @include breakpoint($max, $xs-screen) {
      font-size: em(32px);
    }
  }
  h4 {
    font-size: em(24px);
    color: $darkgrey;
    line-height: 1.3em;
    font-weight: 500;
  }
  h5 {
    font-size: em(18px);
    color: $darkgrey;
    line-height: 1.3em;
    font-weight: 500;
  }
  h6 {
    font-size: em(18px);
    line-height: 1.4em;
    margin-top: 20px;
    @include breakpoint($max, $s-screen) {
      margin-top: 10px;
    }
  }
  hr {
    width: 70px;
    @include breakpoint($max, $xs-screen) { 
      width: 50px;
    }
    height: 2px;
    background: $orange;
    text-align: left;
    margin: 0;
    border:none;
    + h1 {
      margin-top: 30px;
      @include breakpoint($max, $s-screen) {
        margin-top: 15px;
      }
    }
  }
  &.heading-center {
    text-align: center;
  }
  &.heading-right {
    text-align: right;
  }
  .heading-actions {
    margin-top: 30px;
    ul {
      li {
        float: left; 
        margin: 0 40px 0 0;
      }
    }
    @include breakpoint($max, $s-screen) {
      margin-top: 15px;
    }
    @include breakpoint($max, $xs-screen) {
      margin-top: 10px;
    }
  }
  .bagde {
    margin: 0 0 5px;
  }
  i.icon-64 {
    margin: 0 0 15px;
  }
}