.text {

  font-size: em(16px); 

  small {
    font-size: em(13px); 
    line-height: 1.5em;
  }
  strong {
    color: darken(#828580, 5%);
  }

  h2,h3,h4,h5,h6 {
    color: $darkgrey;
    line-height: 1.5em;
  }

  h2 {
    font-family: $museoslab;
    font-weight: 500;
    font-size: em(24px, 16px); 
    margin: 0 0 20px;
  }
  h3,h4,h5,h6 {
    font-family: $museosans;
    font-weight: 700;
    font-size: em(16px, 16px); 
    margin: 40px 0 20px;
    @include breakpoint($max, $xs-screen) {
      margin: 20px 0;
    }
  }
  p {
    margin: 0 0 20px;
    line-height: 1.5em;
    &:last-child {
      margin: 0;
    }
  }
  strong, b {
    font-weight: 500;
  }
  blockquote {
    font-size: em(20px);
    text-align: center;
    font-style: oblique;
    margin: 0 0 20px;
    font-family: $museoslab;
    color: $darkgrey;
  }
  img {
    max-width: 100%;
  }
  a {
    font-weight: 500;
    color: $green;
    text-decoration: underline;
    @include transition(color .2s linear);
    &:hover {
      color: $orange;
    }
  }
  ul, ol {
    margin: 0 0 20px;
    line-height: 1.5em;
    &:last-child {
      margin: 0;
    }
    li {
      margin: 0 0 0 36px;
    }
    &.nopadding {
      li {
        list-style-type: none;
      }
    }
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  // &.text-large { 
  //   font-size: em(18px);
  //   p {
  //     margin: 0 0 30px;
  //     @include breakpoint($max, $s-screen) {
  //       margin: 0 0 15px;
  //     }
  //   }
  // }
}

ul {
  &.list {
    margin: 20px 0;
    line-height: 1.5em;
    li {
      position: relative;
      padding: 0 0 0 26px;
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0;
      }
      i {
        @include position(absolute, 3px 0 0 0px);
      }
      &.list-price {
        h6 {
          font-size: em(13px); 
          font-weight: 700;
        }
        h5 {
          font-size: em(24px);
          font-weight: 500;
          color: $darkgrey;
          strike {
            color: lighten($darkgrey, 50%);
            font-style: oblique;
          }
        }
        p.help-block {
          margin: 10px 0 0;
          font-size: em(13px);
          font-weight: 300;
          font-style: oblique;
          color: #b4b7b1;
          line-height: 1.5em;
        }
      }
    }
  }
}