@import "settings/variables";

@import "framework/functions/unpack";
@import "framework/grid";
@import "framework/breakpoint";
@import "framework/font-face";

@import "framework/addons/position";
@import "framework/addons/em";
@import "framework/addons/transition";
@import "framework/addons/opacity";
@import "framework/addons/prefix";
@import "framework/addons/ellipsis";

@import "modules/reset";
@import "modules/font-face";
@import "modules/icons";
@import "modules/basic";
@import "modules/buttons";
@import "modules/form";
@import "modules/heading";
@import "modules/text";
@import "modules/ads";

// @include make-grid;
@include make-grid-responsive;

body { 
	font-size: ($font-size-base / 16px) * 100%;
	background: white;
	font-family: $museosans;
  font-weight: 300;
	color: #828580;
  padding-top: $headerHeight;
  @include breakpoint($max, $s-screen) {
    padding-top: $s-headerHeight;
    font-size: (14px / 16px) * 100%;
  }
}

.container {
  width: $grid-width;
  margin: 0 auto;
  @include breakpoint($max, $grid-width) {
    width: 100%;
  }
}

header {
  @include position(fixed, 0px 0px 0 0px);
  background: white;
  height: $headerHeight;
  box-shadow: rgba(0,0,0,.1) 0 1px 2px;
  z-index: 1000;
  overflow: hidden;
  a {
    &.clicktoaction {
      display: inline-block;
      height: $headerHeight;
      line-height: $headerHeight;
      font-size: em(17px);
      font-weight: 700;
      padding: 0 15px 0 30px;
      float: right;
      border-left: 1px solid $green;
      color: $green;
      margin: 0 0 0 30px;
      @include transition(color .2s linear, border-left .2s linear);
      i {
        margin: -2px 0 0 0;
        vertical-align: middle;
      }
      &:hover {
        color: $orange;
        border-left-color: $orange;
      }
    }
  }
  h2 {
    display: block;
    width: 191px;
    height: $headerHeight;
    margin: 0 0 0 20px;
    a {
      display: block;
      width: 191px;
      height: $headerHeight;
      text-indent: -9999em;
      overflow: hidden;
      background: url(../images/rednutricion.png) no-repeat center center;
    }
    @include breakpoint($max, $s-screen) {
      width: 130px;
      a {
        width: 130px;
        background-size: 100% auto;
      }
    }
  }
  nav {
    height: $headerHeight;
    float: right;
    ul {
      height: $headerHeight;
      li {
        height: $headerHeight - 4px;
        float: left;
        margin: 0 0 0 20px;
        border-top: 4px solid transparent;
        &:first-child {
          margin: 0;
        }
        a {
          position: relative;
          display: inline-block;
          height: $headerHeight;
          line-height: $headerHeight;
          font-weight: 700;
          color: $darkgrey;
          margin: -4px 0 0 0;
          font-size: em(15px);
          @include transition(color .2s linear);
          &:hover {
            color: lighten($darkgrey, 20%);
          }
        }
        &.current_page_item {
          border-top-color: $orange;
        }
      }
    }
  }
  span.nav-separator {
    height: 34px;
    width: 1px;
    background: #B4B7B1;
    float: right;
    margin: (($headerHeight - 34) / 2) 30px 0;
  }
  @include breakpoint($max, 1220px) { 
    nav,
    span.nav-separator,
    a.clicktoaction {
      display: none;
    }
  }
  @include breakpoint($max, $s-screen) {
    height: $s-headerHeight;
    h2 {
      height: $s-headerHeight;
      a {
        height: $s-headerHeight;
      }
    }
  }
}

.wrapper-slider {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  .slide {
    position: relative;
    width: 100%;
    @include breakpoint($max, $grid-width) {
      @include prefix(box-sizing, border-box);
      padding-right: 30px !important;
      padding-left: 30px !important;
    }
    @include breakpoint($max, $xs-screen) {
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
  }
}

.mask {
  @include position(absolute, 0px 0px 0px 0px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.row-module {

  padding-top: $module-padding;
  padding-bottom: $module-padding;

  &.row-green {
    background-color: $green;
    color: lighten($green, 40%);
    .heading {
      h2 {
        color: white;
      }
    }
  }
  &.row-separate {
    border-top: 1px solid #E6EAE2;
    border-bottom: 1px solid #E6EAE2;
  }
  &.row-separate-bottom {
    border-bottom: 1px solid #E6EAE2;
  }
  &.row-min {
    padding-top: $module-padding / 2;
    padding-bottom: $module-padding / 2;
    @include breakpoint($max, $s-screen) {
      padding-top: $module-padding / 4;
      padding-bottom: $module-padding / 4;
    }
    @include breakpoint($max, $xs-screen) {
      padding-top: $module-padding / 8;
      padding-bottom: $module-padding / 8;
    }
  }
  &.row-min-bottom {
    padding-bottom: $module-padding / 2;
    @include breakpoint($max, $s-screen) {
      padding-bottom: $module-padding / 4;
    }
    @include breakpoint($max, $xs-screen) {
      padding-bottom: $module-padding / 8;
    }
  }
  &.row-list {
    padding: 0;
  }
  &.row-image {
    padding: 0;
    .container {
      padding-top: $module-padding;
      padding-bottom: $module-padding;
      @include breakpoint($max, $grid-width) {  
        padding-bottom: 380px;
        background-position: center bottom !important;
      }
      @include breakpoint($max, $s-screen) {  
        padding-top: $module-padding / 2;
        // padding-bottom: $module-padding / 2;
      }
      @include breakpoint($max, $xs-screen) {  
        padding-top: $module-padding / 4;
        padding-bottom: $module-padding / 4;
        background: none !important;
      }
    }
  }
  .row {
    padding-top: $module-padding / 2;
    &.row-last {
      padding-bottom: $module-padding / 2;
    }
    @include breakpoint($max, $s-screen) { 
      padding-top: $module-padding / 4;
      &.row-last {
        padding-bottom: $module-padding / 4;
      }
    }
    @include breakpoint($max, $xs-screen) { 
      padding-top: $module-padding / 8;
      &.row-last {
        padding-bottom: $module-padding / 8;
      }
    }
  }

  @include breakpoint($max, $grid-width) {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  @include breakpoint($max, $s-screen) {
    padding-top: $module-padding / 2;
    padding-bottom: $module-padding / 2;
  }
  @include breakpoint($max, $xs-screen) {
    padding-top: $module-padding / 4;
    padding-bottom: $module-padding / 4;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}


.item-featured {
  text-align: center;
  i {
    margin: 0 auto;
  }
  h6 {
    margin: 15px 0 0 0;
    line-height: 1.2em;
    color: $darkgrey;
  }
  p {
    font-size: em(14px);
    line-height: 1.3em;
    margin: 15px 0 0 0;
  }
  span {
    display: block;
    padding: 35px 0;
    i {
      @include position(absolute, 50% 0 0 50%);
      margin:-16px;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      height: 0;
      border-left-style: solid;
      border-left-color: transparent;
      border-right-style: solid;
      border-right-color: transparent;
    }
    span {
      position: relative;
      display: block;
      width: 120px;
      height: 70px;
      margin: 0 auto;
      padding: 0;
      background: #f5f5f5;
      z-index: 0;
      @include transition(background .2s linear);
      &:before,
      &:after { 
        @include transition(border-bottom .2s linear, border-top .2s linear);
        border-left-width: 60px;
        border-right-width: 60px;
      }
      &:before {
        top: -35px;
        border-bottom: 35px solid #f5f5f5;
      }
      &:after {
        bottom: -35px;
        border-top: 35px solid #f5f5f5;
      }
      span {
        @include position(absolute, 5px 0 0 10px);
        width: 100px;
        height: 60px;
        background: white;
        z-index: 1;
        &:before,
        &:after { 
          border-left-width: 50px;
          border-right-width: 50px;
        }

        &:before {
          top: -30px;
          border-bottom: 30px solid white;
        }
        &:after {
          bottom: -30px;
          border-top: 30px solid white;
        }
      }
    }
  }
  a {
    display: block;
    &:hover {
      i {
        color: white;
      }
      span span {
        background: $green;
        &:before {
          border-bottom: 35px solid $green;
        }
        &:after {
          border-top: 35px solid $green;
        }
      }
    }
  }
}


footer {
  font-size: em(14px);
  background: $darkgrey;
  font-weight: 700;
  color: lighten($darkgrey, 30%);
  h6 {
    margin: 0 0 20px 0;
    font-family: $museoslab;
  }
  .office-item  {
    padding-bottom: 30px;
    font-family: $museoslab;
    font-size: em(12px, 14px);
    @include breakpoint($max, $xs-screen) {
      padding-bottom: 15px;
    }
    h5 {
      margin: 0 0 10px 0;
      color: white;
      font-size: em(15px, 12px);
      font-family: $museosans;
      @include transition(color .2s linear);
    }
    a {
      color: lighten($darkgrey, 30%);
      &:hover {
        h5 {
          color: $orange;
        }
      }
    }
    ul {
      li {
        line-height: 1.5em;
        margin: 0 0 3px 0;
        &:last-child {
          margin: 0;
        }
        strong {
          color: white;
        }
      }
    }
    &.col4 {
      @include breakpoint($max, $s-screen) {
        width: column-flex(8);
      }
      @include breakpoint($max, $xs-screen) {
        width: column-flex(16);
      }
    }
  }
  p.credits {
    font-size: em(13px,14px);
    display: block;
    border-top: 1px solid lighten($darkgrey, 5%);
    margin: 20px 0 0 0;
    padding-top: 20px;
    @include breakpoint($max, $s-screen) { 
      text-align: center;
    }
  }
}


// social

.section-social-links {
  a {
    display: block;
    position: relative;
    font-family: $museoslab;
    width: 33.333333%;
    float: left;
    height: 66px;
    line-height: 66px;
    padding: 0 20px 0 (15px + 32px + 15px);
    font-size: em(20px);
    font-weight: 500;
    color: white;
    @include prefix(box-sizing, border-box);
    @include transition(background-color .2s linear);

    @include breakpoint($max, $s-screen) {
      width: 100%;
      float: none;
    }
    @include breakpoint($max, $xs-screen) {
      height: 50px;
      line-height: 50px;
    }


    i {
      @include position(absolute, 50% 0 0 15px);
      margin: -16px 0;
    }
    em {
      float: right;
      font-style: normal;
      font-weight: 700
    }
    &.fb {
      background: #4378cd;
      &:hover {
        background: lighten(#4378cd, 5%);
      }
      em {
        color: lighten(#4378cd, 30%)
      }
    }
    &.tw {
      background: #28b9f3;
      &:hover {
        background: lighten(#28b9f3, 5%);
      }
      em {
        color: lighten(#28b9f3, 30%)
      }
    }
    &.yt {
      background: #e54d42;
      &:hover {
        background: lighten(#e54d42, 5%);
      }
      em {
        color: lighten(#e54d42, 30%)
      }
    }
  }
}

.social-share {
  margin: 40px 0 0 0;
  height: 20px;
  .share-item {
    float: left;
    height: 20px;
    overflow: hidden;
    margin: 0 20px 0 0;
  }
  @include breakpoint($max, $xs-screen) {
    margin: 20px 0 0 0;
  }
}


// testimonies 

.testimonies-item {
  color: $darkgrey;
  background-repeat: no-repeat;
  background-size: auto 97%;
  @include breakpoint($max, $s-screen) {
    background: none !important;
  }
  h5 {
    font-size: em(24px);
    font-weight: 500;
  }
  p {
    margin: 30px 0;
    font-size: em(24px);
    line-height: 1.5em;
    font-weight: 300;
    font-family: $museoslab;
    color: $green;
    @include transition(color .2s linear);
    a {
      color: $green;
    }
    strong {
      font-weight: 500;
      font-style: oblique;
    }
    @include breakpoint($max, $s-screen) {
      // font-size: em(18px);
      margin: 15px 0;
    }
    @include breakpoint($max, $xs-screen) { 
      // font-size: em(16px);
      margin: 10px 0;
    }
  }
  ul.testimonio-down {
    height: 68px;
    line-height: 68px;
    font-size: em(16px);
    font-weight: 500;
    li {
      float: left;
      margin: 0 10px 0 0;
      &.alt {
        width: 64px;
        height: 64px;
        line-height: 64px;
        border-width: 2px;
        border-style: solid;
        text-align: center;
        @include prefix(border-radius, 50%);
        color: $green;
        border-color: $green;
        @include transition(color .2s linear, border .2s linear);
      }
    }
    @include breakpoint($max, $xs-screen) { 
      height: 62px;
      line-height: 62px;
      // font-size: em(14px);
      li {
        margin: 0 8px 0 0;
        &.alt {
          width: 60px;
          height: 60px;
          line-height: 60px;
          border-width: 1px;
        }
        &.right {
          display: none;
        }
      }
    }
  }
  a {
    color: $darkgrey;
    &:hover {
      p {
        color: $orange;
      }
      ul.testimonio-down li.alt {
        color: $orange;
        border-color: $orange;
      }
    }
  }
  &.testimonies-item-min {
    h5 {
      font-size: em(18px);
    }
    p {
      font-size: em(18px);
      margin: 15px 0;
      @include breakpoint($max, $xs-screen) { 
        // font-size: em(16px);
        margin: 10px 0;
      }
    }
    ul.testimonio-down { 
      height: 62px;
      line-height: 62px;
      font-size: em(14px);
      li {
        margin: 0 8px 0 0;
        &.alt {
          width: 60px;
          height: 60px;
          line-height: 60px;
          border-width: 1px;
        }
      }
    }
    @include breakpoint($max, $s-screen) {
      &.col7 {
        width: column-flex(8);
        margin-left: column-flex(0);
      }
    }
    @include breakpoint($max, $xs-screen) {
      &.col7 {
        width: column-flex(16);
        float: none;
      }
    }
  }
  @include breakpoint($max, $s-screen) {
    .col8,
    .col9 {
      width: column-flex(16);
      margin-left: column-flex(0);
      float: none;
    }
  }
}

article {
  &.testimonies-item {
    padding-top: $module-padding;
    padding-bottom: $module-padding;
    &.testimonies-item-min {
      padding-top: $module-padding / 2;
      padding-bottom: $module-padding / 2;
    }
    @include breakpoint($max, $s-screen) {
      padding-top: $module-padding / 2;
      padding-bottom: $module-padding / 2;
      &.testimonies-item-min {
        padding-top: $module-padding / 4;
        padding-bottom: $module-padding / 4;
      }
    }
    @include breakpoint($max, $xs-screen) {
      padding-top: $module-padding / 4;
      padding-bottom: $module-padding / 4;
      &.testimonies-item-min {
        padding-top: $module-padding / 8;
        padding-bottom: $module-padding / 8;
      }
    }
  }
}

// control slider

.ctrl {
  width: 32px;
  height: 32px;
  text-indent: -9999em;
  overflow: hidden;
  @include prefix(border-radius, 50%);
  @include position(absolute, 50% 0 0 0);
  @include opacity(.5);
  @include transition(opacity .2s linear);
  z-index: 9999;
  &:hover {
    @include opacity(1);
  }
  i {
    @include position(absolute, 50%);
    margin: -8px;
    &.icon-32 {
      margin: -16px;
    }
  }
  &.ctrl-next {
    right: 40px;
  }
  &.ctrl-prev {
    left: 40px;
  }
  @include breakpoint($max, $s-screen) {
    display: none;
  }
}

.slider-pager {
  text-align: center;
  height: 8px;
  a {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: white;
    text-indent: -9999em;
    overflow: hidden;
    vertical-align: top;
    margin: 0 3px;
    @include prefix(border-radius, 50%);
    @include opacity(.5);
    &.active {
      @include opacity(1);
    }
  }
}

// sections

.section-featured {
  $featuredHeight: 700px;
  position: relative;
  height: $featuredHeight;
  background: black;
  overflow: hidden;
  .slider-pager {
    @include position(absolute, 0 0px 20px 0px);
    z-index: 1;
  }
  .wrapper-slider {
    height: $featuredHeight;
    .slide {
      height: $featuredHeight;
      padding-top: 180px;
      .mask {
        background-position: center center;
        @include opacity(.5);
      }
      .container {
        position: relative;
        z-index: 1;
        .heading {
          color: white;
        }
      }
      .guaranty {
        margin: 80px 0 0 0;
      }
      @include breakpoint($max, $grid-width) {
        padding-bottom: 28px + 20px;
        .col12 {
          width: column-flex(16);
        }
      }
      @include breakpoint($max, $xs-screen) {
        text-align: center;
        .heading {
          hr {
            margin: 0 auto;
          }
          .heading-actions {
            li {
              float: none;
              margin: 0;
            }
          }
        }
        .guaranty { 
          margin: 20px auto 0;
        }
      }
    }
  }
  .slide-featured-sedes {
    @include position(absolute, 0px 0px 0 0px);
    padding-top: $module-padding / 2;
    z-index: 1;
    font-size: em(13px);
    font-weight: 700;
    color: white;
    h6 {
      font-family: $museoslab;
      margin: 0 0 3px;
      color: white;
    }
    ul li {
      float: left;
      margin: 0 15px 0 0;
      &:last-child {
        margin: 0;
      }
      a {
        display: inline-block;
        color: lightgrey;
        height: 22px;
        line-height: 22px;
        &:hover {
          color: white;
        }
      }
    }
    @include breakpoint($max, $grid-width) {
      padding-right: 30px !important;
      padding-left: 30px !important;
      ul li {
        margin: 0 10px 0 0;
        a {
          height: 18px;
          line-height: 18px;
        }
      }
    }
    @include breakpoint($max, $s-screen) {
      padding-top: ($module-padding / 2) + 32px;
    }
    @include breakpoint($max, $xs-screen) {
      padding-right: 10px !important;
      padding-left: 10px !important;
      padding-top: ($module-padding / 4) + 32px;
    }
  }

  @include breakpoint($max, $s-screen) {
    height: auto;
    .wrapper-slider {
      height: auto;
      .slide {
        height: auto;
      }
    }
  }
}

.section-heading {
  position: relative;
  background: #b4b7b1;
  padding-top: $module-padding / 2;
  padding-bottom: $module-padding / 2;
  .heading {
    position: relative;
    padding-right: 245px + 20px;
    h1,h2,h3,h4,h5,h6 {
      color: white;
    }
    .guaranty {
      @include position(absolute, 50% 0px 0 0);
      margin: -43px 0;
    }
    @include breakpoint($max, $s-screen) {
      padding-right: 0;
      .guaranty { 
        @include position(relative, auto auto auto auto);
        margin: 0 0 20px;
      }
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &.section-heading-news {
    position: relative;
    background: black;
    .container .heading {
      padding-top: 150px;
      padding-right: 0;
    }
    .mask {
      background-position: center center;
      @include opacity(.5);
    }
    .breadcrumbs {
      padding: 0;
    }
    @include breakpoint($max, $s-screen) {
      .col12 {
        width: column-flex(16);
        margin-left: column-flex(0);
      }
    }
  }
  &.section-heading-map {
    padding-top: 150px;
    .mask {
      @include opacity(.7);
    }
  }
  @include breakpoint($max, $grid-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include breakpoint($max, $xs-screen) {
    padding: (20px + 32px) 10px 20px 10px;
  }
}
.section-nav {
  $sectionavHeight: 60px;
  border-bottom: 1px solid #E6EAE2;
  nav {
    ul {
      li {
        float: left;
        height: $sectionavHeight;
        margin: 0 20px 0 0;
        &:last-child {
          margin: 0;
        }
        a {
          position: relative;
          display: inline-block;
          height: $sectionavHeight;
          line-height: $sectionavHeight;
          color: $darkgrey;
          font-weight: 700;
          font-size: em(15px);
          margin-bottom: -1px;
          @include transition(color .2s linear);
          @include ellipsis;
          &:hover {
            color: $green;
          }
        }
        &.current_page_item {
          a {
            color: $green;
            border-bottom: 1px solid $green;
          }
        }
      }
    }
  }
  @include breakpoint($max, $grid-width) {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  @include breakpoint($max, $s-screen) {
    nav {
      ul {
        li {
          width: 50%;
          height: 40px;
          float: left;
          margin: 0;
          @include prefix(box-sizing, border-box);
          a {
            display: block;
            height: 40px;
            padding-right: 40px;
            line-height: 40px;
            border-bottom: 1px solid #E6EAE2;
          }
        }
      }
    }
  }
  @include breakpoint($max, $xs-screen) {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

.section-details {
  background: #E6EAE2;
  .row {
    padding-top: $module-padding / 4;
  }
  .text h6 {
    margin: 0 0 5px 0;
  }
  @include breakpoint($max, $s-screen) {
    .col6 {
      width: column-flex(8);
    }
    .col12 {
      width: column-flex(16);
    }
  }
  @include breakpoint($max, $s-screen) {
    .col6,
    .col12 {
      width: column-flex(16);
      float: none;
    }
    .row {
      padding: 0;
    }
    .text > div > div {
      padding-bottom: 20px;
    }
  }
}
.section-testimonies {
  position: relative;
  padding: ($module-padding / 2) 0 0 0;
  @include breakpoint($max, $s-screen) {
    padding-top: $module-padding / 4;
    padding-bottom: $module-padding / 4;
  }
  @include breakpoint($max, $xs-screen) {
    padding-top: $module-padding / 4;
  }
  .slider-pager {
    @include position(absolute, 0 0px 20px 0px);
    z-index: 1;
  }
  .wrapper-slider {
    .slide {
      .container {
        position: relative;
        z-index: 1;
      }
      .testimonies-item {
        padding-bottom: $module-padding + 28px;
        @include breakpoint($max, $s-screen) {  
          padding-bottom: ($module-padding / 2) + 28px;
        }
        @include breakpoint($max, $xs-screen) {
          padding-bottom: ($module-padding / 4) + 28px;
        }
      }
    }
  }

  &.testimonies-orange {
    background: $orange;
    .wrapper-slider {
      .slide {
        .container {
          .testimonies-item {
            h6 {
              color: white;
            }
            p {
              color: white;
            }
            ul.testimonio-down li.alt { 
              color: white;
              border-color: white;
            }
            a {
              color: #482e05;
              &:hover {
                p {
                  color: lighten($orange, 30%);
                }
                ul.testimonio-down li.alt {
                  color: lighten($orange, 30%);
                  border-color: lighten($orange, 30%);
                }
              }
            }
          }
        }
      }
    }
  }
  &.testimonies-grey {
    background: #e6eae2;
  }
}
.section-single {
  .text {
    blockquote {
      margin-left: -120px;
      margin-right: -120px;
      @include breakpoint($max, $s-screen) { 
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
.section-how {
  text-align: center;
  @include breakpoint($max, $s-screen) {
    .col4 {
      width: column-flex(8);
      padding-top: $module-padding / 4;
      padding-bottom: $module-padding / 4;
    }
  }
  @include breakpoint($max, $xs-screen) { 
    .col4 {
      width: column-flex(16);
      padding-top: $module-padding / 8;
      padding-bottom: $module-padding / 8;
    }
  }
}
.section-benefits {
  text-align: center;
  @include breakpoint($max, $s-screen) {
    .col4 {
      width: column-flex(8);
      padding-top: $module-padding / 4;
      padding-bottom: $module-padding / 4;
    }
    .row-last {
      padding-top: 0;
    }
  }
  @include breakpoint($max, $xs-screen) { 
    .col4 {
      width: column-flex(16);
      padding-top: $module-padding / 8;
      padding-bottom: $module-padding / 8;
    }
  }
}
.section-newsletter {
  h6 {
    position: relative;
    font-family: $museoslab;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: em(24px);
    color: $darkgrey;
    padding: 0 0 0 42px;
    @include ellipsis;
    i {
      @include position(absolute, 50% 0 0 0px);
      margin: -18px 0;
    }
    // @include breakpoint($max, $s-screen) {
    //   font-size: em(22px);
    // }
    // @include breakpoint($max, $xs-screen) {
    //   font-size: em(20px);
    // }
  }
  form {
    position: relative;
    padding: 0;
    input {
      width: 100%;
      height: 50px;
      padding: 0 70px 0 20px;
      background: #e6eae2;
      font-family: $museosans;
      font-weight: 300;
      font-size: em(20px);
      color: $darkgrey;
      border: none;
      margin: 0;
      @include prefix(border-radius, 4px);
      @include prefix(box-sizing, border-box);
    }
    .form-actions {
      width: 50px;
      height: 50px;
      overflow: hidden;
      @include position(absolute, 0 0px 0px 0);
      input {
        width: 50px;
        height: 50px;
        padding: 0;
        cursor: pointer;
        background: $green;
        color: white;
        font-weight: 300;
        @include prefix(border-radius, 0 4px 4px 0);
      }
    }
  }
  @include breakpoint($max, $s-screen) { 
    .col8 {
      width: column-flex(8);
    }
    .col7 {
      width: column-flex(8);
      margin-left: column-flex(0);
    }
  }
  @include breakpoint($max, $xs-screen) { 
    .col8,
    .col7 {
      float: none;
      width: column-flex(16);
    }
  }
}

.section-more-news {
  position: relative;
  border-top: 1px solid #E6EAE2;
  border-bottom: 1px solid #E6EAE2;
  @include breakpoint($max, $xs-screen) {
    .container {
      padding-top: $module-padding / 8;
      padding-bottom: $module-padding / 8;
    }
  }
}
.section-more {
  padding-top: $module-padding / 4;
  @include breakpoint($max, $xs-screen) { 
    padding-top: $module-padding / 8;
  }
}

.section-genotype {
  text-align: center;
  .concept-list {
    text-align: left;
    .item-concept {
      position: relative;
      padding: 0 0 20px (32px + 20px);
      @include breakpoint($max, $s-screen) { 
        padding: 0 0 20px (16px + 20px);
      }
      font-size: em(14px);
      line-height: 1.3em;
      &:last-child {
        padding-bottom: 0;
      }
      a {
        font-weight: 500;
        color: $orange;
        @include transition(color .2s linear);
        &:hover {
          color: lighten($orange, 10%);
        }
      }
      p {
        margin: 0;
      }
      strong {
        font-size: em(16px, 14px);
        color: $darkgrey;
      }
      i {
        @include position(absolute, 0px 0 0 0px);
        @include breakpoint($max, $s-screen) {
          width: 16px;
          height: 16px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
  .col9 {
    img {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  @include breakpoint($max, $s-screen) {
    .col6 {
      width: column-flex(8);
    }
    .col9 {
      width: column-flex(7);
      margin-left: column-flex(1);
    }
  }
  @include breakpoint($max, $s-screen) {
    .col6 {
      width: column-flex(16);
    }
    .col9 {
      padding-top: $module-padding / 4;
      width: column-flex(16);
      margin-left: column-flex(0);
    }
  }
}

article {
  &.post {

    padding-top: $module-padding / 2;
    padding-bottom: $module-padding / 2;

    @include breakpoint($max, $s-screen) {
      padding-top: $module-padding / 4;
      padding-bottom: $module-padding / 4;
    }

    @include breakpoint($max, $xs-screen) {
      padding-top: $module-padding / 8;
      padding-bottom: $module-padding / 8;
    }


    .post-title {
      h6 {
        font-size: em(16px);
        font-weight: 700;
        line-height: 1.5em;
        a {
          @include transition(color .2s linear);
        }
      }
    }
    .post-body {
      line-height: 1.5em;
    }

    figure {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      a {
        display: block;
        @include position(absolute, 0px 0px 0px 0px);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }

    &.post-large {
      .post-title {
        padding: 15px 0 10px 0;
        a {
          color: $green;
          &:hover {
            color: $orange;
          }
        }
        .bagde {
          margin: 0 0 0 5px;
        }
      }
      figure {
        padding-bottom: 47.82%;
      }
      .post-body {
        padding-right: 60px;
        @include breakpoint($max, $s-screen) {
          padding: 0;
        }
      }
      @include breakpoint($max, $xs-screen) {
        &.col8 {
          width: column-flex(16);
          float: none;
        }
      }
    }
    &.post-min {
      figure {
        padding-bottom: 100%;
        @include prefix(border-radius, 50%);
        overflow: hidden;
      }
      .post-title {
        padding: 0 0 10px 0;
        .bagde {
          margin: 0 0 5px;
        }
        a {
          color: $darkgrey;
          &:hover {
            color: $orange;
          }
        }
      }
      @include breakpoint($max, $s-screen) {
        .col3 {
          width: column-flex(4);
          margin-left: column-flex(0);
        }
        .col9 {
          width: column-flex(12);
        }
      }
    }
  }
}

.breadcrumbs {
  padding-top: $module-padding / 2;
  height: 18px;
  line-height: 18px;
  li {
    float: left;
    height: 18px;
    font-size: em(13px);
    font-weight: 700;
    a {
      @include transition(color .2s linear);
    }
    &.is_home {
      width: 18px;
      height: 18px;
      a {
        position: relative;
        width: 18px;
        height: 18px;
        display: block;
        text-indent: -9999em;
        overflow: hidden;
        i {
          @include position(absolute, 50% 0 0 50%);
          margin: -8px;
        }
      }
    }
    &.is_separator {
      margin: 0 5px;
      width: 16px;
      position: relative;
      @include opacity(.5);
      i {
        @include position(absolute, 50% 0 0 0px);
        margin: -8px 0;
      }
    }
  }
  &.breadcrumbs-light {
    color: inherit;
    a {
      color: $darkgrey;
      &:hover {
        color: inherit;
      }
    }
  }
  &.breadcrumbs-dark {
    color: lightgrey;
    a {
      color: white;
      &:hover {
        color: lightgrey;
      }
    }
  }
  @include breakpoint($max, $xs-screen) {
    padding-top: 20px + 32px;
  }
}


// body class

body {
  &.is-home { }
  &.is-about { 
    .row-image {
      @include breakpoint($max, $grid-width) {
        .col9 {
          width: column-flex(16);
          float: none;
        }
      }
    }
    @extend .is-office;
  }
  &.is-benefits {
    .section-benefits-info { }
  }
  &.is-faq {
    .section-faq-list {
      @include breakpoint($max, $xs-screen) {  
        .col6,
        .col9 {
          width: column-flex(16);
          margin-left: column-flex(0);
          float: none;
        }
        .col6 {
          .heading-right {
            text-align: left;
            padding-bottom: 10px;
          }
        }
        .container > div {
          padding-bottom: 20px;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
  &.is-genotype {
    .row-image {
      @include breakpoint($max, $grid-width) {
        .col9 {
          width: column-flex(16);
          float: none;
        }
      }
    }
    .section-genotype-list {
      @include breakpoint($max, $xs-screen) { 
        .col11,
        .col4 {
          width: column-flex(16);
          margin-left: column-flex(0);
          float: none;
        }
        .col4 {
          .heading-right {
            text-align: left;
            padding-bottom: 10px;
          }
        }
        .container > div {
          padding-bottom: 20px;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
  &.is-media-list {}
  &.is-guaranty {
    .row-image {
      .container {
        background-size: auto 350px !important;
      }
    }
    @include breakpoint($max, $grid-width) {
      .col9 {
        width: column-flex(16);
        float: none;
      }
    }
  }
  &.is-media {
    @include breakpoint($max, $s-screen) {
      .col12 {
        width: column-flex(16);
        margin-left: column-flex(0);
        float: none;
      }
    }
  }
  &.is-reserve {
    form {
      @include breakpoint($max, $xs-screen) { 
        padding: 10px 0;
      }
      .control-group {
        @include breakpoint($max, $s-screen) {
          .control-label {
            &.col4 {
              width: column-flex(5);
            }
          }
          .controls {
            &.col8,
            &.col9 {
              width: column-flex(10);
            }
            &.col4 {
              width: column-flex(6);
            }
          }
        }
        @include breakpoint($max, $xs-screen) { 
          padding: 10px 0;
          .control-label { 
            text-align: left;
            &.col4 {
              width: column-flex(16);
              float: none;
            }
          }
          .controls {
            padding-top: 10px;
            &.col8,
            &.col9 {
              width: column-flex(16);
              margin-left: column-flex(0);
              float: none;
            }
            &.col2 {
              width: column-flex(3);
              margin-left: column-flex(0);
            }
            &.col4 {
              width: column-flex(10);
            }
          }
        }
      }
      .control-actions {
        @include breakpoint($max, $s-screen) { 
          .col9 {
            width: column-flex(10);
            margin-left: column-flex(6);
          }
        }
        @include breakpoint($max, $xs-screen) { 
          .col9 {
            width: column-flex(16);
            margin-left: column-flex(0);
          }
          input {
            width: 100%;
          }
        }
      }
    }
  }
  &.is-office {
    .section-office-info {
      @include breakpoint($max, $s-screen) { 
        .col8,
        .col7 {
          width: column-flex(16);
          margin-left: column-flex(0);
          float: none;
        }
        .col8 {
          padding-top: 20px;
          .btn.right {
            float: none !important;
          }
        }
      }
    }
  }
  &.is-testimony { }
  &.is-testimony-list { }
  &.is-treatment {
    .section-treatment-info {
      @include breakpoint($max, $s-screen) {
        .col7 {
          width: column-flex(16);
          margin-left: column-flex(0);
          float: none;
        }
      }
    }
  }
}





body {
  &.dropdown-open {
    overflow: hidden;
  }
}

.mobile-menu-container {
  display: none;
  @include position(fixed, $headerHeight 0px 0px 0px);
  background: white;
  height: 0;
  z-index: 1001;
  @include breakpoint($max, 1220px) {  
    display: block;
  }
  @include breakpoint($max, $s-screen) {
    top: $s-headerHeight;
  }
  .dropdown-toggle {
    @include position(absolute, -$headerHeight 0px 0 0);
    display: block;
    width: $headerHeight;
    height: $headerHeight;
    border-left: 1px solid #B4B7B1;
    text-indent: -9999em;
    overflow: hidden;
    color: $darkgrey;
    i {
      @include position(absolute, 50% 0 0 50%);
      margin: -8px;
    }
    @include breakpoint($max, $s-screen) {
      top: -$s-headerHeight;
      width: $s-headerHeight;
      height: $s-headerHeight;
    }
  }
  .dropdown-menu {
    @include position(absolute, 0px 0px 0px 0px);
    overflow: auto;
    display: none;
    border-top: 1px solid #E6EAE2;
    a {
      display: block;
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid #E6EAE2;
      font-size: em(20px);
      font-weight: 700;
      padding: 0 20px;
      color: $darkgrey;
      @include ellipsis;
      @include transition(color .2s linear);
      &:hover {
        color: lighten($darkgrey, 20%);
      }
      &.clicktoaction {
        background: $green;
        color: white;
        @include transition(background-color .2s linear);
        &:hover {
          background: lighten($green, 10%);
        }
      }
    }
    .current_page_item {
      a {
        border-left: 4px solid $orange;
        padding-left: 16px;
      }
    }
  }
  &.open {
    height: auto;
    .dropdown-menu { 
      display: block;
    }
  }
}


.phones-offices {
  @include position(fixed, $headerHeight 0px 0 0px);
  background-size: red;
  height: 32px;
  z-index: 999;
  @include breakpoint($max, $s-screen) {
    top: $s-headerHeight;
  }
  ul {
    float: right;
    li.dropdown {
      position: relative;
      height: 32px;
      a.dropdown-toggle {
        outline: none;
      }
      .dropdown-menu {
        display: none;
        overflow-y: auto;
        @include position(fixed, ($headerHeight + 32px) 0px 0px 0px);
        @include breakpoint($max, $s-screen) {
          top: $s-headerHeight + 32px;
        }
        ul {
          @include position(absolute, 0px 0px 0px 0);
          background: $darkgrey;
          li {
            a {
              display: block;
              padding: 10px;
              color: lightgrey;
              font-size: em(13px);
              background: $darkgrey;
              border-bottom: 1px solid lighten($darkgrey, 15%);
              @include ellipsis;
              strong {
                display: block;
                padding: 4px 0 0 0;
                color: white;
                font-size: em(14px, 13px);
                @include ellipsis;
                @include transition(color .2s linear);
              }
              &:hover {
                strong {
                  color: $orange;
                }
              }
            }
            &:last-child {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
      &.open {
        .dropdown-menu {
          display: block;
        }
        .dropdown-toggle .dropdown-more {
          background: darken($green, 10%)
        }
      }
    }
    @include breakpoint($max, $xs-screen) {
      float: none;
      width: 100%;
    }
  }
  .dropdown-toggle {
    position: relative;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 36px;
    background: $green;
    color: lighten($green, 40%);
    @include breakpoint($max, $xs-screen) {
      display: block;
    }
    strong {
      color: white;
    }
    i.call-1 {
      @include position(absolute, 50% 0 0 10px);
      margin: -8px 0;
    }
    .dropdown-more {
      position: relative;
      height: 32px;
      margin: 0 -10px 0 10px;
      background: $orange;
      padding: 0 10px 0 30px;
      float: right;
      color: white;
      font-weight: 700;
      font-size: em(14px);
      @include transition(background-color .1s linear);
      i {
        @include position(absolute, 50% 0 0 10px);
        margin: -8px 0;
      }
    }
    &:hover {
      .dropdown-more {
        background: darken($green, 10%)
      }
    }
  }
}


















