// basic

$font-size-base: 16px; 

// media queries

$xs-screen: 480px; // Extra small screen / phone
$s-screen: 768px; // Small screen / tablet
$m-screen: 992px; // Medium screen / desktop
$l-screen: 1200px; // Large screen / wide desktop

// grid

$grid-columns: 16;  // number of columns
$grid-width: 960px; // width grid
$grid-gutter-width: 20px; // width inter columns